<link rel="stylesheet" href="sidebar.scss">
<div class="sidebar">
	<ul class="side-tab">
		<li class="side-tab-piece radius-t">
			<a href="javacript:;" class="piece-link">
				<span class="iconfont icononlinesubmission side-icon"></span>
				<div class="side-text">网上投稿</div>
			</a>
		</li>

		<li class="side-tab-piece">
			<a href="javacript:;" class="piece-link">
				<span class="iconfont icontechnicalsupport side-icon"></span>
				<div class="side-text">技术支持</div>
			</a>
		</li>

		<li class="side-tab-piece">
			<a href="javacript:;" class="piece-link">
				<span class="iconfont iconfeedback side-icon"></span>
				<div class="side-text">意见反馈</div>
			</a>
		</li>

		<li class="side-tab-piece radius-b">
			<a href="javacript:;" class="piece-link">
				<span class="iconfont iconpagecorrection side-icon"></span>
				<div class="side-text">页面纠错</div>
			</a>
		</li>
	</ul>

	<div class="side-code">
		<div class="code-img"></div>
	</div>
</div>