<link rel="stylesheet" href="nav.scss">

<div class="nav clearfix">
  <ul class="wrapper navbar">
    <li class="tab-item pull-left introduce">
      <a class="nav-tab-title" href="javascript:;" id="show">协会介绍</a>
      <div class="wrapper subnav">
        <div class="dropdown-content">
          <ul class="drodown-list clearfix">
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会简介</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会章程</a></li>
            <li class="drodown-edu pull-left"><a class="label-options special-blue" href="javascript:;">律协规章</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">律师行业党委</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">常务理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">监事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专门委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专业委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">执业机构</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">光荣榜</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">历史回顾</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">工作动态</a></li>
          </ul>
          <div class="dropdown-summary clearfix">
            <div class="summary-left pull-left clearfix">
              <div class="summary-tag pull-left clearfix">协会简介</div>
              <div class="intro-line"></div>
              <div class="introduction-the">
                依据《中华人名共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议;理事会是律师代表大会的常设机构，每年召开一次会议;常务理事会为理事会的常设机构，在理事会闭会期间行使理事会职权。理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任。依据《中华人民共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议；理事会是律师代表大会的常设机构，每年召开一次会议;理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任...
                <a class="details" href="javascript:;">
                  [详情]
                </a>
              </div>
            </div>
            <div class="summary-right pull-right">
              <div class="summary-tag-right pull-left">理事会</div>
              <div class="line pull-right"></div>
              <div class="introduction-over">
                <div class="the-council"><span class="council-identity">会长: </span>赵乃民</div>
                <div class="the-council"><span class="council-identity">副会长: </span>赵德林、张毅、梁正辉、江华、郁新林、苏会斌</div>
                <div class="the-council"><span class="council-identity">常务理事:
                  </span>袁世东、郁新林、朱国勋、陈新、梁正辉、苏会斌、孙新丽、李连军、张忠、王中、赵乃、赵德林张毅、江华、马道建、朱越、胡小清、于峰、王晓岚</div>
                <div class="the-council"><span class="council-identity">理事:
                  </span>路绪华、袁世东、魏勇、郁新林李刚、朱国勋、梁正辉、蔺志江、苏会斌、朱长平、孙新丽、李大成、王东盛、李连军、赵勇、朱越、于峰、童晓兵、陈新、杨湘、肖东红、王
                  绍利、石新生、张忠、华晏、王中、治桂萍、石遥、赵乃民、张毅、胡小清、韩全民、赵德林、马道建、江华、刘世成、王晓岚</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="tab-item pull-left introduce">
      <a class="nav-tab-title" href="javascript:;">行业党建</a>
      <div class="wrapper subnav">
        <div class="dropdown-content">
          <ul class="drodown-list clearfix">
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会简介</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会章程</a></li>
            <li class="drodown-edu pull-left"><a class="label-options special-blue" href="javascript:;">律协规章</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">律师行业党委</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">常务理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">理事会</a></li>
            <li class="drodown-edu pull-left supervisors"><a class="label-options" href="javascript:;">监事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专门委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专业委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">执业机构</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">光荣榜</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">历史回顾</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">工作动态</a></li>
          </ul>
          <div class="dropdown-summary clearfix">
            <div class="summary-left pull-left">
              <div class="summary-tag pull-left clearfix">协会简介</div>
              <div class="intro-line"></div>
              <div class="introduction-the">
                依据《中华人名共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议;理事会是律师代表大会的常设机构，每年召开一次会议;常务理事会为理事会的常设机构，在理事会闭会期间行使理事会职权。理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任。依据《中华人民共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议；理事会是律师代表大会的常设机构，每年召开一次会议;理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任...
                <a class="details" href="javascript:;">
                  [详情]
                </a>
              </div>
            </div>
            <div class="summary-right pull-right">
              <div class="summary-tag-right pull-left">理事会</div>
              <div class="line pull-right"></div>
              <div class="introduction-over">
                <div class="the-council"><span class="council-identity">会长: </span>赵乃民</div>
                <div class="the-council"><span class="council-identity">副会长: </span>赵德林、张毅、梁正辉、江华、郁新林、苏会斌</div>
                <div class="the-council"><span class="council-identity">常务理事:
                  </span>袁世东、郁新林、朱国勋、陈新、梁正辉、苏会斌、孙新丽、李连军、张忠、王中、赵乃、赵德林张毅、江华、马道建、朱越、胡小清、于峰、王晓岚</div>
                <div class="the-council"><span class="council-identity">理事:
                  </span>路绪华、袁世东、魏勇、郁新林李刚、朱国勋、梁正辉、蔺志江、苏会斌、朱长平、孙新丽、李大成、王东盛、李连军、赵勇、朱越、于峰、童晓兵、陈新、杨湘、肖东红、王
                  绍利、石新生、张忠、华晏、王中、治桂萍、石遥、赵乃民、张毅、胡小清、韩全民、赵德林、马道建、江华、刘世成、王晓岚</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="tab-item pull-left introduce">
      <a class="nav-tab-title" href="">行业要闻</a>
      <div class="wrapper subnav">
        <div class="dropdown-content">
          <ul class="drodown-list clearfix">
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会简介</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会章程</a></li>
            <li class="drodown-edu pull-left"><a class="label-options special-blue" href="javascript:;">律协规章</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">律师行业党委</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">常务理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">理事会</a></li>
            <li class="drodown-edu pull-left supervisors"><a class="label-options" href="javascript:;">监事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专门委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专业委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">执业机构</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">光荣榜</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">历史回顾</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">工作动态</a></li>
          </ul>
          <div class="dropdown-summary clearfix">
            <div class="summary-left pull-left">
              <div class="summary-tag pull-left clearfix">协会简介</div>
              <div class="intro-line"></div>
              <div class="introduction-the">
                依据《中华人名共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议;理事会是律师代表大会的常设机构，每年召开一次会议;常务理事会为理事会的常设机构，在理事会闭会期间行使理事会职权。理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任。依据《中华人民共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议；理事会是律师代表大会的常设机构，每年召开一次会议;理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任...
                <a class="details" href="">
                  [详情]
                </a>
              </div>
            </div>
            <div class="summary-right pull-right">
              <div class="summary-tag-right pull-left">理事会</div>
              <div class="line pull-right"></div>
              <div class="introduction-over">
                <div class="the-council"><span class="council-identity">会长: </span>赵乃民</div>
                <div class="the-council"><span class="council-identity">副会长: </span>赵德林、张毅、梁正辉、江华、郁新林、苏会斌</div>
                <div class="the-council"><span class="council-identity">常务理事:
                  </span>袁世东、郁新林、朱国勋、陈新、梁正辉、苏会斌、孙新丽、李连军、张忠、王中、赵乃、赵德林张毅、江华、马道建、朱越、胡小清、于峰、王晓岚</div>
                <div class="the-council"><span class="council-identity">理事:
                  </span>路绪华、袁世东、魏勇、郁新林李刚、朱国勋、梁正辉、蔺志江、苏会斌、朱长平、孙新丽、李大成、王东盛、李连军、赵勇、朱越、于峰、童晓兵、陈新、杨湘、肖东红、王
                  绍利、石新生、张忠、华晏、王中、治桂萍、石遥、赵乃民、张毅、胡小清、韩全民、赵德林、马道建、江华、刘世成、王晓岚</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="tab-item pull-left introduce">
      <a class="nav-tab-title" href="javascript:;">律师文化</a>
      <div class="wrapper subnav">
        <div class="dropdown-content">
          <ul class="drodown-list clearfix">
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会简介</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会章程</a></li>
            <li class="drodown-edu pull-left"><a class="label-options special-blue" href="javascript:;">律协规章</a>
            </li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">律师行业党委</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">常务理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">理事会</a></li>
            <li class="drodown-edu pull-left supervisors"><a class="label-options" href="javascript:;">监事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专门委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专业委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">执业机构</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">光荣榜</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">历史回顾</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">工作动态</a></li>
          </ul>
          <div class="dropdown-summary clearfix">
            <div class="summary-left pull-left">
              <div class="summary-tag pull-left clearfix">协会简介</div>
              <div class="intro-line"></div>
              <div class="introduction-the">
                依据《中华人名共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议;理事会是律师代表大会的常设机构，每年召开一次会议;常务理事会为理事会的常设机构，在理事会闭会期间行使理事会职权。理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任。依据《中华人民共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议；理事会是律师代表大会的常设机构，每年召开一次会议;理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任...
                <a class="details" href="javascript:;">
                  [详情]
                </a>
              </div>
            </div>
            <div class="summary-right pull-right">
              <div class="summary-tag-right pull-left">理事会</div>
              <div class="line pull-right"></div>
              <div class="introduction-over">
                <div class="the-council"><span class="council-identity">会长: </span>赵乃民</div>

                <div class="the-council"><span class="council-identity">副会长: </span>赵德林、张毅、梁正辉、江华、郁新林、苏会斌</div>

                <div class="the-council"><span class="council-identity">常务理事:
                  </span>袁世东、郁新林、朱国勋、陈新、梁正辉、苏会斌、孙新丽、李连军、张忠、王中、赵乃、赵德林张毅、江华、马道建、朱越、胡小清、于峰、王晓岚</div>

                <div class="the-council"><span class="council-identity">理事:
                  </span>路绪华、袁世东、魏勇、郁新林李刚、朱国勋、梁正辉、蔺志江、苏会斌、朱长平、孙新丽、李大成、王东盛、李连军、赵勇、朱越、于峰、童晓兵、陈新、杨湘、肖东红、王
                  绍利、石新生、张忠、华晏、王中、治桂萍、石遥、赵乃民、张毅、胡小清、韩全民、赵德林、马道建、江华、刘世成、王晓岚</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="tab-item pull-left introduce">
      <a class="nav-tab-title" href="">会员服务</a>
      <div class="wrapper subnav">
        <div class="dropdown-content">
          <ul class="drodown-list clearfix">
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会简介</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">协会章程</a></li>
            <li class="drodown-edu pull-left"><a class="label-options special-blue" href="javascript:;">律协规章</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">律师行业党委</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">常务理事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">理事会</a></li>
            <li class="drodown-edu pull-left supervisors"><a class="label-options" href="javascript:;">监事会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专门委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">专业委员会</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">执业机构</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">光荣榜</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">历史回顾</a></li>
            <li class="drodown-edu pull-left"><a class="label-options" href="javascript:;">工作动态</a></li>
          </ul>
          <div class="dropdown-summary clearfix">
            <div class="summary-left pull-left">
              <div class="summary-tag pull-left clearfix">协会简介</div>
              <div class="intro-line"></div>
              <div class="introduction-the">
                依据《中华人名共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议;理事会是律师代表大会的常设机构，每年召开一次会议;常务理事会为理事会的常设机构，在理事会闭会期间行使理事会职权。理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任。依据《中华人民共和国律师法》和《中华全国律师协会章程》规定，律师代表大会是律师协会的权力机构，3-5年召开一次会议；理事会是律师代表大会的常设机构，每年召开一次会议;理事、常务理事、会长、副会长均由律师代表大会在执业律师中选举产生。秘书长由司法局党委推荐，提交律师代表大会聘任...
                <a class="details" href="javascript:;">
                  [详情]
                </a>
              </div>
            </div>
            <div class="summary-right pull-right">
              <div class="summary-tag-right pull-left">理事会</div>
              <div class="line pull-right"></div>
              <div class="introduction-over">
                <div class="the-council"><span class="council-identity">会长: </span>赵乃民</div>
                <div class="the-council"><span class="council-identity">副会长: </span>赵德林、张毅、梁正辉、江华、郁新林、苏会斌</div>
                <div class="the-council"><span class="council-identity">常务理事:
                  </span>袁世东、郁新林、朱国勋、陈新、梁正辉、苏会斌、孙新丽、李连军、张忠、王中、赵乃、赵德林张毅、江华、马道建、朱越、胡小清、于峰、王晓岚</div>
                <div class="the-council"><span class="council-identity">理事:
                  </span>路绪华、袁世东、魏勇、郁新林李刚、朱国勋、梁正辉、蔺志江、苏会斌、朱长平、孙新丽、李大成、王东盛、李连军、赵勇、朱越、于峰、童晓兵、陈新、杨湘、肖东红、王
                  绍利、石新生、张忠、华晏、王中、治桂萍、石遥、赵乃民、张毅、胡小清、韩全民、赵德林、马道建、江华、刘世成、王晓岚</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>