<link rel="stylesheet" href="header.scss">
<div class="header clearfix">
  <div class="wrapper header-content clearfix">
    <div class="logo pull-left">
    </div>
    <div class="header-right pull-right clearfix">
      <!-- <div class="login-icon pull-left">
        <span class="iconfont iconrightscenter apply-icon"></span>
      </div> -->
      <ul class="enter-list pull-left clearfix">
        <li class="log-ine pull-left"><a class="click-apply click-log" href="javascript:;">登录</a></li>
        <li class="apply-for pull-left"><a class="click-apply" href="javascript:;">申请实习证</a></li>
      </ul>
      <div class="search pull-right">
        <span class="pull-left">
          <input type="text" class="keyword-search" placeholder="请输入关键字">
        </span>
          <span class="search-button pull-right">
            <span class="iconfont iconsearch1 search-icon"></span>
          </span>
      </div>
    </div>
  </div>
</div>
