<link rel="stylesheet" href="footer.scss">
<div class="footer">
  <div class="footer-link">
    <div class="wrapper link-model clearfix">
      <div class="link-left pull-left">
        <div class="link-title">快速链接</div>
        <ul style="padding-top: 20px;">
          <li class="link-text"><a href="javascript:;">新疆检察院</a></li>
          <li class="link-text"><a href="javascript:;">新疆各区县公证处</a></li>
          <li class="link-text"><a href="javascript:;">新疆各法院通讯录</a></li>
          <li class="link-text"><a href="javascript:;">新疆各看守所通讯录</a></li>
          <li class="link-text"><a href="javascript:;">新疆国际仲裁中心</a></li>
        </ul>
      </div>
      <div class="link-left pull-left">
        <div class="link-title">常用工具</div>
        <ul style="padding-top: 20px;">
          <li class="link-text"><a href="javascript:;">城市地图查询</a></li>
          <li class="link-text"><a href="javascript:;">城市天气查询</a></li>
          <li class="link-text"><a href="javascript:;">统计局数据公布</a></li>
          <li class="link-text"><a href="javascript:;">万年历查询</a></li>
          <li class="link-text"><a href="javascript:;">OpenLaw裁判文书</a></li>
        </ul>

      </div>
      <div class="link-left pull-left">
        <div class="link-title">网站导航</div>
        <ul style="padding-top: 20px;">
          <li class="link-text"><a href="javascript:;">律师协会网站</a></li>
          <li class="link-text"><a href="javascript:;">国务院部门网站</a></li>
          <li class="link-text"><a href="javascript:;">专业法律网站</a></li>
          <li class="link-text"><a href="javascript:;">地方政府网站</a></li>
          <li class="link-text"><a href="javascript:;">新闻媒体网站</a></li>
        </ul>

      </div>
      <div class="link-left pull-left">
        <div class="link-title">关于我们</div>
        <ul style="padding-top: 20px;">
          <li class="link-text"><a href="javascript:;">会长信箱</a></li>
          <li class="link-text"><a href="javascript:;">监事长信箱</a></li>
          <li class="link-text"><a href="javascript:;">律师代表信箱</a></li>
          <li class="link-text"><a href="javascript:;">联系我们</a></li>
          <li class="link-text"><a href="javascript:;">意见建议</a></li>
        </ul>
      </div>
      <div class="link-right pull-right">
        <div class="link-item"></div>
        <div class="link-pic-code"></div>
      </div>
    </div>
  </div>
  <div class="wrapper footer-words">
    <div>[版权声明]&nbsp;&nbsp;新CP备17030485号-1&nbsp;技术服务：上海同道信息技术有限公司</div>
    <div>新疆生产建设兵团律师协会版权所有&nbsp;&nbsp;@2000-2019</div>
  </div>
</div>